body {
  background: #ddd !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: auto;
  max-width: 100% !important;
  padding: unset;
  line-height: inherit;
}

/* Container utama */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #68d8e6, #a066ff);
  padding: 0 20px;
  /* max-width: 480px !important; */
  margin: 0 auto !important;
  height: 100vh;
}


.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
}

.partner-button {
  background-color: #fff;
  box-shadow: 0 5.294px 28.235px 0 rgba(61, 71, 81, .1), 0 0 13.235px .882px rgba(61, 71, 81, .08);
  border-radius: 0.3rem;
  border-color: transparent;
  text-align: left;
  /* Teks kiri */
  padding-left: 15px;
  /* Padding kiri untuk ruang */
  width: 100px;
  /* Tentukan lebar tombol jika perlu */
}

/* Logo Section */
.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Services Section */
.services {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.services-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.service-button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  background-color: #003b59;
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 50px;
  font-size: 16px;
}

/* Media Query untuk Responsivitas */
@media (max-width: 768px) {
  .logo {
    font-size: 3.5rem;
  }

  .services-text {
    font-size: 16px;
  }

  .service-button {
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .logo {
    font-size: 2.5rem;
  }

  .services-text {
    font-size: 14px;
  }

  .service-button {
    height: 40px;
    font-size: 12px;
  }
}

.shdowOne {
  box-shadow: 0 5.294px 28.235px 0 rgba(61, 71, 81, .1), 0 0 13.235px .882px rgba(61, 71, 81, .08);

}

.payment_detail {
  width: 10% !important;
}

hr {
  color: #000 !important;
}



.ant-input:focus {
  border-color: black !important;
  /* Ganti warna border menjadi hitam */
  box-shadow: none !important;
  /* Hilangkan efek shadow default */
}

.ant-input:hover {
  border-color: black !important;
  /* Ganti warna border menjadi hitam */
  box-shadow: none !important;
  /* Hilangkan efek shadow default */
}

.custom-password-input.ant-input-password:focus {
  border-color: black !important;
  /* Ubah warna border menjadi hitam */
  box-shadow: none !important;
  /* Hilangkan efek shadow default */
}

.custom-password-input .ant-input-password-icon {
  color: gray;
  /* Warna tombol toggle */
}

.custom-password-input .ant-input-password-icon:hover {
  color: black;
  /* Warna tombol toggle saat hover */
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-input-affix-wrapper>input.ant-input,
:where(.css-dev-only-do-not-override-1wwf28x).ant-input-affix-wrapper>textarea.ant-input {
  font-size: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  color: inherit;
  font-weight: bold;
}